@model IEnumerable<NoticeBoard.Models.NoticeModel>

@{
    ViewBag.Title = "Noticlist";
    Layout = "~/Views/Shared/Admin_LayOut.cshtml";
}


<div class="container">



    <h2>WHICH NEWS?</h2>

    <div class="row">




        <div class="col-lg-3">



            <table>
                <tr>
                    <th>LIST OF ALL NEWS
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.ActionLink(item.Title_ns, "details", new { id = item.ID })
                        </td>

                    </tr>
                }

            </table>
            
        </div>
        
    </div>
    
</div>
